body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  display: grid;
  margin: 0;
  border: 0;
}

h1 {
  color: white;
}

.landing {
  text-align: center;
  overflow: hidden;
}

.non.highlight {
  margin: 0;
}

p {
  color: white;
}

h4 {
  color: white;
}

h5 {
  color: white;
}

.doors {
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
  pointer-events: all;
  z-index: 6;
}

.door {
  position: absolute;
  top: 0;
  transform: translateX(0);
  transition: transform 1s;
  display: flex;
  align-items: center;
  border-style: solid;
  border-color: white;
  border-width: 5px;
  width: 50%;
  border-top: none;
  border-bottom: none;
  min-height: 100vh;
}

.door.left {
  left: 0;
  justify-content: flex-end;
  border-left: none;
  background-color: black;
}

.doors.active .door.left {
  transform: translateX(-100%);
}

.door.right {
  right: 0;
  border-right: none;
  background-color: black;
}

.doors.active .door.right {
  transform: translateX(100%);
}

.enter.button {
  z-index: 2;
  position: relative;
  bottom: 0px;
  justify-content: center;
  align-items: center;
}

button {
  display: block;
  position: relative;
  justify-content: center;
  align-items: center;
  border-radius: 48px;
  margin: auto;
}

button.active {
  color: #6290c8;
}

figure > img {
  position: relative;
  align-items: center;
  justify-content: center;
  display: block;
  margin: auto;
  max-width: 75%;
}

figure {
  margin: 0;
}

/* Highlight Effect */
.highlight {
  position: relative;
  z-index: 5;
  margin-left: 1px;
  background-size: 200% auto;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 3rem;
}

.highlight.active {
  background-image: linear-gradient(90deg, #6290c8 50%, transparent 0);
  color: white;
  -webkit-animation: highlight 2s ease;
  animation: 2s ease 0ms 1 normal none running highlight;
}

@-webkit-keyframes highlight {
  0% {
    background-position: 100% 100%;
    color: white;
  }
  to {
    background-position: 0 100%;
    color: white;
  }
}
@keyframes highlight {
  0% {
    background-position: 100% 100%;
    color: white;
  }
  to {
    background-position: 0 100%;
    color: white;
  }
}

/* Mobile Rules */
@media (max-width: 767px) {
  h1 {
    font-size: 20px;
  }

  p {
    font-size: 48px;
  }

  button {
    width: 100%;
    max-width: 360px;
    height: 84px;
    font-size: 24px;
  }
}

/* Desktop Rules */
@media (min-width: 768px) {
  h1 {
    font-size: 80px;
  }

  p {
    font-size: 24px;
    line-height: 1.6;
  }

  section.content {
    /* padding: 280px; */
    padding-top: 48px;
    max-width: 1000px;
    margin: 0 auto;
  }

  button {
    width: 480px;
    height: 60px;
    margin-bottom: 30px;
    font-size: 24px;
  }

  .buttons {
    padding: 48px;
  }

  figure > img {
    max-height: 600px;
    max-width: 480px;
    margin-top: 48px;
    margin-bottom: 60px;
    max-width: 75%;
  }
}

main {
  position: absolute;
  top: 0;
  left: 0;
  max-height: 100vh;
  overflow: scroll;
  max-width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  width: 100%;
}
